# Ignore assembled python packages
**/build
**/dist
**/*.egg*
# Ignore HPC log files
*e[0-9]*
*o[0-9]*
# Ignore internal Python directories
**/__pycache__
# Ignore internal Python files
*.pyc
# Ignore legacy location folders
**/Locations
# Ignore location folders
**/locations
# Ignore mac files
*.DS_store
# Ignore model outputs
**/logs
*.log*
*.json
# Ignore output files
*output_*
**/output*
*.png
*.jpg
# Ignore testing files
*.coverage
# Ignore VSCode files
.vscode
# Ignore model files for now
*.sav
# Ignore misc. files
*.zip
