# Ignore legacy location folders
**/Locations
# Ignore location folders
**/locations
# Ignore model outputs
**/logs
*.log*
# Ignore VSCode files
.vscode
# Ignore internal Python directories
**/__pycache__
# Ignore internal Python files
*.pyc
# Ignore output files
*output_*
**/output*
*.png
*.jpg
# HPC log files
*e[0-9]*
*o[0-9]*
# Ignore assembled python packages
**/dist
**/*.egg*
